<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Thanks for your review, <%= @username %>
    <p>You reviewed Bus number <%= @bus.number %> - <%= @ride.direction %> - <%= @ride.day %> - <%= @ride.timeframe %></p>
  </body>
</html>
