<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hello, <%= @username %>!
    <p>You review for Bus number <%= @bus.number %> - <%= @ride.direction %> - <%= @ride.day %> - <%= @ride.timeframe %> has just been <%= @vote.direction %>voted!</p>
  </body>
</html>
