<div class="row">
  <div class="small-2 column">
    <h1 class="text-right"><%= @user.username %></h1>
  </div>
  <div class="small-10 column">
    <h3 class="text-left subheader">
      <%= @user.id %><br>
      <%= @user.email %>
      <img src="<%= @user.profile_photo %>"></img>
    </h3>
  </div>
</div>

<% @reviews.each do |review| %>
  <%= review %>
<% end %>
