<div class="row panel" id="bus_title">
  <div class="small-2 column">
    <h1 class="text-right"><%= @bus.number %></h1>
  </div>
  <div class="small-10 column">
    <h3 class="text-left subheader">
      <%= @bus.inbound %><br>
      <%= @bus.outbound %>
    </h3>
  </div>
</div>
<div class="row">
  <% if user_signed_in? %>
    <%= link_to "New Review", new_bus_review_path(@bus),
                              class: "button expand"  %>
  <% else %>
    <br>
    <br>
  <% end %>
</div>
<div class="row">
  <ul class="no-bullet reviews">
    <%= render 'buses/review' %>
  </ul>
</div>
