<h1>Line <%= @bus.number %></h1>

<h2><%= @bus.inbound %> - <%= @bus.outbound %></h2>

<h3>Reviews:</h3>

<div class="review">
  <% @reviews.each do |review| %>
    <p>
      <%= review.user.username %>
      rode bus <%= @bus.number %>
      towards <%= review.ride.direction %>
      on a <%= review.ride.day %>
      between <%= review.ride.timeframe %>
    </p>
    <h3><%= review.rating %> out of 5</h3>
    <p><%= review.body %></p>
    <a href="<%= edit_review_path(review) %>" class="button">Edit Review</a>
      <% if review.user_id == session[:user_id] %>
    <a href="<%= edit_review_path(review) %>" class="button">Edit Review</a>
  <% end %>
</div>

