<h4>User Index</h4>
<ul>
  <% @users.each do |user|%>
    <li><%= user.email %>
          <% if user.admin? %>
            <%= button_to "Remove as Admin",
                admin_update_role_path(user),
                method: :patch %>
          <% else %>
            <%= button_to "Make Admin",
                admin_update_role_path(user),
                method: :patch %>
          <% end %>

        <%= link_to "Delete", admin_user_path(user),
        method: :delete %>
    </li>
  <% end %>
</ul>
<%= paginate @users %>
