<div class="row">
  <div class="small-9 small-centered columns">
    <%= form_for([@bus, @review]) do |f| %>
    <% if @review.errors.any? %>
      <div class="error">
        <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div>
        <label class="left">
          <%= f.label :ride_id %>
        </label>
        <label class="right">
          <small>required</small>
        </label>
        <%= fields_for :ride do |ride_form| %>
          <%= ride_form.select :timeframe,
            options_for_select(Ride::TIMEFRAMES, @review.ride.timeframe) %>
          <%= ride_form.select :day,
            options_for_select(Ride::DAYS, @review.ride.day) %>
          <%= ride_form.select :direction,
            options_for_select([[@bus.inbound, "inbound"],
            [@bus.outbound, "outbound"]], @review.bus_destination) %>
        <% end %>
      </div>

      <div>
        <label class="left">
          <%= f.label :rating %>
        </label>
        <label class="right">
          <small>required</small>
        </label>
        <%= f.select :rating, (1..5), include_blank: true %>
      </div>
      <div>
        <label class="left">
          <%= f.label :body %>
        </label>
        <%= f.text_area :body %>
      </div>
      <div>
        <%= f.submit value: 'Submit Review', class: 'button' %>
      </div>
    <% end %>
  </div>
</div>
